*{    
    cursor: url("C:/Users/Yingge Hu/Desktop/VS CODE/local/happyhome/happyhome/docs/paint/icon/mouse1.png"), auto; 
}

input::placeholder{
   color:rgba(0,0,0,0.4)
}

table {
    width: 100%; /*表格宽度*/
    max-width: 65em; /*表格最大宽度，避免表格过宽*/
    border: 1px solid #dedede; /*表格外边框设置*/
    margin: 15px auto; /*外边距*/
    border-collapse: collapse; /*使用单一线条的边框*/
    empty-cells: show; /*单元格无内容依旧绘制边框*/
}