// $accentColor = #87cefa // 主题色
// $textColor = #000 // 文字颜色
// $borderColor = #eaecef // 边框颜色
// $sidebarWidth = 18rem
// colors
$accentColor = #87cefa
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
// $searchBoxColor = #87cefa

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 18rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
